{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_castro_mapa.css' %}">
</head>

<body>        


    <div class="contenedor">

        <div class="barra-superior">

            <div class="logo-area">
                <img src="{% static '/logo.png' %}" 
                     alt="Logo AquaConciencia" 
                     class="logo">

                <img src="{% static 'css/titulo.png' %}" 
                     alt="Aqua Conciencia" 
                     class="logo-titulo">
            </div>


            <div class="iconos"> 
            <a href="{% url 'panel' %}">
                <img src="{% static 'css/logo.casa.png' %}" alt="Inicio">
            </a>
            <a href="{% url 'perfil' %}">
                <img src="{% static 'css/logo.usuario.png' %}" alt="Usuario">
            </a>
        </div>

        </div>

        <div class="contenido">

            <div class="panel">

                <!-- Título principal -->
                <h2>Cómo Jugar</h2>

         
                <div class="como-jugar">

                    <!-- Paso 1 -->
                    <div class="paso">
                        <h3>1. Elija el quiz</h3>
                        <p>
                            Seleccione el quiz que desea realizar 
                            desde el menú principal.
                        </p>
                    </div>

                    <!-- Paso 2 -->
                    <div class="paso">
                        <h3>2. Conteste las preguntas</h3>
                        <p>
                            Responda cada una de las preguntas 
                            que aparecen en el quiz.
                        </p>
                    </div>

                    <!-- Paso 3 -->
                    <div class="paso">
                        <h3>3. Analice el resultado</h3>
                        <p>
                            Revise el resultado de su quiz 
                            y luego elija otro para continuar.
                        </p>
                    </div>

                </div>

            </div>
     

        </div>
    

    </div>
 

</body>

</html>