{% load static %} 

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_castro_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static 'css/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-castro.png' %}" alt="ancud" class="logo-ancud">

       <div class="info">
    <h2>Castro</h2>

   <h3>🏙️ ¿Sabías que...?</h3>
    <p>
        Castro es la capital de Chiloé y la ciudad más grande del archipiélago. 
        Aunque es una ciudad importante, también enfrenta problemas 
        serios con el agua, especialmente por la industria salmonera 
        que opera en sus alrededores.
    </p>

    <h3>🐟 ¿Cuál es el problema?</h3>
    <p>
        Cerca de Castro existen muchas empresas que crían salmones en el mar. 
        Estas empresas usan grandes cantidades de antibióticos y 
        productos químicos para mantener sanos a los peces. 
        Esos químicos terminan en el agua del mar, 
        contaminando los ecosistemas marinos y afectando 
        a los mariscos y peces que viven ahí.
    </p>

    <h3>🦀 ¿Qué le pasa al mar?</h3>
    <p>
        En 2016 ocurrió una crisis enorme en Chiloé: 
        miles de animales marinos murieron y aparecieron 
        en las playas. Los pescadores locales perdieron 
        su fuente de trabajo porque el mar estaba contaminado. 
        Las algas y mariscos que antes abundaban 
        comenzaron a desaparecer.
    </p>

    <h3>😟 ¿Qué puede pasar?</h3>
    <p>
        Si la contaminación continúa, el mar alrededor de Castro 
        podría perder para siempre muchas de sus especies marinas. 
        Esto afectaría a los pescadores, al turismo 
        y a toda la comunidad que depende del mar para vivir.
    </p>

    <h3>💧 ¿Qué podemos hacer?</h3>
    <p>
        Es importante exigir que las empresas cuiden el mar 
        y no lo contaminen. También podemos apoyar 
        a los pescadores locales comprando sus productos 
        y conociendo la realidad del agua en nuestra isla.
    </p>
</div>  
    </div>
</body>

</html>   