{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_quemchi_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static 'css/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-quemchi.png' %}" alt="ancud" class="logo-ancud">

       <div class="info">
    <h2>Quemchi</h2>

    <h3>🌊 ¿Sabías que...?</h3>
    <p>
        Quemchi es una pequeña ciudad de Chiloé con más de 3.000 habitantes. 
        Aunque está rodeada de mar, conseguir agua dulce limpia 
        ha sido un problema muy serio para sus vecinos durante años.
    </p>

    <h3>⚠️ ¿Cuál es el problema?</h3>
    <p>
        Quemchi se abastece de agua desde el río Juan Pablo Tocol. 
        Cuando no llueve lo suficiente, el río baja tanto que 
        no alcanza para abastecer a todos. En 2022, la situación 
        fue tan grave que el municipio tuvo que cortar el agua 
        todas las noches desde las 8 PM hasta las 7 AM, 
        afectando a restaurantes, hospedajes y familias enteras.

        En algunos momentos el agua que llegaba a las casas 
        estaba contaminada con bacterias dañinas para la salud, 
        lo que enfermó a muchas personas. 
        Camiones aljibe tuvieron que repartir agua por las calles 
        como solución de emergencia.
    </p>

    <h3>😟 ¿Qué puede pasar?</h3>
    <p>
        Si no llueve lo suficiente y no se construye 
        mejor infraestructura para guardar el agua, 
        Quemchi podría seguir sufriendo estos cortes 
        cada verano cuando más gente necesita agua.
    </p>

    <h3>💧 ¿Qué podemos hacer?</h3>
    <p>
        Es importante cuidar los ríos y no contaminarlos, 
        usar el agua con responsabilidad y apoyar proyectos 
        que construyan mejores sistemas para guardar 
        y distribuir el agua en toda la isla.
    </p>
</div>  
    </div>
</body>

</html> 