{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_chonchi_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static '/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-chonchi.png' %}" alt="ancud" class="logo-ancud">

       <div class="info">
    <h2>Chonchi</h2>

  <h3>🌿 ¿Sabías que...?</h3>
    <p>
        Chonchi es conocida como "la ciudad de los tres pisos" 
        por cómo está construida en las laderas del cerro. 
        Pero esta hermosa ciudad también enfrenta 
        problemas serios con el agua dulce y la contaminación.
    </p>

    <h3>💨 ¿Cuál es el problema?</h3>
    <p>
        En Chonchi, las turberas y el musgo pompón que almacenan 
        el agua están siendo destruidos por la instalación de 
        grandes torres de energía eólica en las montañas. 
        Para instalar estas torres de 180 metros de altura 
        tienen que dinamitar las cimas de los cerros, 
        que es exactamente donde nacen los ríos 
        y donde viven las turberas que guardan el agua.
    </p>

    <h3>🚰 ¿Qué más pasó?</h3>
    <p>
        En 2019 ocurrió un derrame de aguas servidas 
        desde el centro de la ciudad directamente 
        al estero Huitauque y a la bahía de Chonchi. 
        Esto contaminó el agua del mar y afectó 
        a los animales y plantas que vivían ahí.
    </p>

    <h3>😟 ¿Qué puede pasar?</h3>
    <p>
        Si se siguen destruyendo las turberas en los cerros 
        y no se mejoran los sistemas de aguas servidas, 
        Chonchi podría quedarse sin agua dulce en verano 
        y con el mar cada vez más contaminado.
    </p>

    <h3>💧 ¿Qué podemos hacer?</h3>
    <p>
        Es importante proteger las turberas y los humedales 
        de Chonchi, que son como esponjas gigantes 
        que guardan el agua para toda la comunidad. 
        ¡Sin ellas, no hay agua para nadie!
    </p>
</div>  
    </div>
</body>

</html>    