{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_dalcahue_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static 'css/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-dalcahue.png' %}" alt="ancud" class="logo-ancud">

       <div class="info">
    <h2>Dalcahue</h2>

    <h3>🌿 ¿Sabías que...?</h3>
    <p>
        Dalcahue es conocida como "la comuna de las dalcas", 
        las embarcaciones tradicionales de Chiloé. 
        Pero además de su cultura, esta comuna también enfrenta 
        un serio problema con el agua dulce cada verano.
    </p>

    <h3>⚠️ ¿Cuál es el problema?</h3>
    <p>
        Dalcahue es una de las comunas de Chiloé con mayor 
        cantidad de personas sin acceso a agua potable. 
        Cada verano, cuando llueve menos, los ríos y vertientes 
        bajan tanto que no alcanzan para abastecer a todos. 
        Camiones aljibe deben recorrer los sectores rurales 
        repartiendo agua a las familias.
    </p>

    <h3>🗑️ ¿Qué más afecta el agua?</h3>
    <p>
        En el sector de Mocopulli, en Dalcahue, 
        hay 7 vertederos de basura en solo 1 kilómetro. 
        Algunos fueron abandonados sin ser limpiados correctamente, 
        contaminando las napas subterráneas, 
        los ríos y los humedales que almacenan agua dulce, 
        haciendo desaparecer especies de animales que vivían ahí.
    </p>

    <h3>😟 ¿Qué puede pasar?</h3>
    <p>
        Si los humedales y las turberas siguen siendo destruidos 
        o contaminados, Dalcahue podría quedarse sin suficientes 
        reservas de agua limpia para sus habitantes, 
        animales y cultivos en el futuro.
    </p>

    <h3>💧 ¿Qué se está haciendo?</h3>
    <p>
        En 2025 el municipio de Dalcahue creó una 
        Oficina de Emergencia Hídrica que distribuye agua 
        a las familias más afectadas y ayuda a los comités 
        de agua rural a mejorar sus sistemas. 
        ¡Pero todos podemos ayudar cuidando el agua y no contaminando!
    </p>
</div>  
    </div>
</body>

</html>  