{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_ancud_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static '/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-ancud.png' %}" alt="ancud" class="logo-ancud">

         <div class="info">
        <h2>Ancud</h2>

        <h3>🌿 ¿Sabías que...?</h3>
        <p>
            A diferencia de otras ciudades de Chile, Ancud y todo Chiloé 
            no tienen montañas nevadas que les den agua dulce. 
            Su única fuente de agua viene de la lluvia, 
            que es guardada por un musgo especial llamado <strong>pompón</strong>.
        </p>

        <h3>⚠️ ¿Cuál es el problema?</h3>
        <p>
            El pompón puede absorber hasta 20 veces su peso en agua, 
            como una esponja gigante. Pero hace años se está extrayendo 
            sin control para venderlo en otros países, 
            lo que está destruyendo las reservas de agua dulce de Chiloé.
        </p>

        <h3>😟 ¿Qué puede pasar?</h3>
        <p>
            Si seguimos extrayendo el pompón sin cuidado, 
            en el futuro Ancud podría quedarse sin suficiente agua dulce, 
            especialmente en verano cuando llueve menos. 
            Esto afectaría a todas las personas, animales y plantas de la isla.
        </p>

        <h3>💧 ¿Qué podemos hacer?</h3>
        <p>
            Es importante proteger las turberas y el musgo pompón 
            para que sigan guardando el agua que necesitamos. 
            ¡Cuidar el agua es cuidar nuestra isla!
        </p>
    </div>
</div>
        </div>
</body>

</html> 