{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>
    <link rel="stylesheet" href="{% static 'css/comuna_quellon_mapa.css' %}">
</head>

<body>       
    <div class="login-container">

        <div class="logo-area">
            <img src="{% static '/logo.png' %}" alt="Logo AquaConciencia" class="logo">
            <img src="{% static 'css/titulo.png' %}" alt="Aqua Conciencia" class="logo-titulo">
        </div>

        <div class="contenido">
            <img src="{% static 'css/iglesia-quellon.png' %}" alt="ancud" class="logo-ancud">

       <div class="info">
    <h2>Quellon</h2>

  <h3>⚓ ¿Sabías que...?</h3>
    <p>
        Quellón es el puerto más importante y la comuna 
        más grande de Chiloé, con más de 29.000 habitantes. 
        Es un lugar clave para la pesca, el turismo 
        y la industria del salmón. Pero también es 
        una de las comunas más afectadas por problemas 
        con el agua y el medio ambiente.
    </p>

    <h3>🌲 ¿Cuál es el problema?</h3>
    <p>
        Quellón es una de las comunas con mayor tala 
        indiscriminada de bosque nativo en todo Chile. 
        Cuando se cortan los árboles del bosque, 
        el suelo ya no puede retener el agua de lluvia, 
        los ríos se secan más rápido en verano 
        y las comunidades rurales quedan sin agua.
    </p>

    <h3>🦠 ¿Otras causas?</h3>
    <p>
        Quellón sufre frecuentemente eventos de "marea roja", 
        que son explosiones de microalgas que contaminan 
        el agua del mar y hacen que los mariscos sean 
        peligrosos para comer. Esto afecta gravemente 
        a los pescadores y a toda la economía local, 
        paralizando el comercio y dejando a muchas 
        familias sin trabajo.
    </p>

    <h3>😟 ¿Qué puede pasar?</h3>
    <p>
        Si se sigue talando el bosque nativo y 
        el mar continúa contaminándose, Quellón 
        podría quedarse sin agua limpia para sus habitantes 
        y sin mariscos para sus pescadores en el futuro.
        Además, con la llegada del puente Chacao, 
        habrá más turistas y más presión sobre el agua.
    </p>

    <h3>💧 ¿Qué podemos hacer?</h3>
    <p>
        Es fundamental proteger el bosque nativo de Quellón 
        y cuidar el mar. Podemos aprender sobre la marea roja, 
        no botar basura al mar y apoyar a los pescadores 
        artesanales que cuidan el océano cada día.
    </p>
</div>  
    </div>
</body>

</html>    