{% load static %}

<!DOCTYPE html><html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Contraseña - Aqua Conciencia</title><link rel="stylesheet" href="{% static 'css/creacion_cuenta.css' %}">

</head><body><div class="registro-card">

    <img src="{% static 'logo.png' %}" alt="Logo AquaConciencia" class="logo">

    <div class="titulo">
        <img src="{% static 'css/titulo.png' %}" alt="Agua Conciencia">
    </div>

    <h2>Restablecer Contraseña</h2>

    <p class="descripcion">
        Escriba la nueva contraseña y confirme para finalizar.
    </p>

    <form method="POST">
        {% csrf_token %}

        <label>Nueva Contraseña</label>
        <input
            type="password"
            name="password1"
            placeholder="Ingrese su nueva contraseña"
            required
        >

        <label>Reescribir Contraseña</label>
        <input
            type="password"
            name="password2"
            placeholder="Confirme su contraseña"
            required
        >

        <button type="submit" class="btn-crear">
            Finalizar
        </button>

    </form>

</div>

</body>
</html>