<!DOCTYPE html>     <!-- codigo para poder usar imagenes -->

<html>
    <head>
        <meta charset="utf-8">       <!-- Se introduce que la pagina sea capaz de soportar distintos tipos de caracteres (ñ,á,ü) -->
        <h1><span style="color: #005A8C;">Aqua</span><br><span style="color: #2E9E3E;">Conciencia</span></h1>       <!-- Se establece el color el color '#005A8C' a 'Aqua' y el color '#2E9E3E' a 'Conciencia' -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">      <!-- Se introduce codigo para que la pagina sea capas de adaptarse a todo tipos de dispositivos (laptop, celulares, tablet, etc.) -->
        <link rel="stylesheet" href="../../static/css/nueva_contraseña.css">        <!-- Se establece el link de este archivo, al archivo de css llamdo 'nueva_contraseña.css' para poder editar este archivo desde 'nueva_contraseña.css' -->
    </head>

<body>
    <header>
        <div class="encabezado">       
            <img src="logo_aqua.png" alt="Logo" class="logo">       
        </div>
    </header>

    <section>
        <h2>Restablecer contraseña</h2>
        <p>Escriba la nueva contraseña y confirme para finalizar</p>        <!-- Texto que le indica al usuario lo que debe hacer para poder 'Reestablecer contraseña' -->

        <p>Nueva contraseña</p>     <!-- Se pide al usuario que ingrese su nueva contreña, con 'type = text' para que le permita poder ingresar letras, numeros y caracteres especiales -->
        <input type="text">

        <p>Reescribir contraseña</p>        <!-- Se pide al usuario que confirme su 'nueva contraseña' -->
        <input type="text">

        <button>Finalizar</button>      <!-- Boton de 'Finalizar' que le permite al usuario 'avanzar' si es que cumplio con exitos los parametros establecidos -->
    </section> 
</body>

</html>
