{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaConciencia</title>

    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>
<body>

<div class="contenedor">

    <header>
        <div class="logo"> 
            <img src="{% static 'logo.png' %}" alt="Logo AquaConciencia">
            <img src="{% static 'css/image 1.png' %}" alt="Logo AquaConciencia Alternativo">
        </div>

        <nav class="menu"> 
            <a href="{% url 'quiz_inicio' %}">Quiz</a>
            <a href="{% url 'ayuda' %}">Ayuda</a>
              <a href="{% url 'noticias' %}">Noticias</a>
        </nav>

        <div class="iconos">
            <a href="{% url 'panel' %}">
                <img src="{% static 'css/logo.casa.png' %}" alt="Inicio">
            </a>
            <a href="{% url 'perfil' %}">
                <img src="{% static 'css/logo.usuario.png' %}" alt="Usuario">
            </a>
        </div>
    </header>

    <div class="dashboard">

        <div class="principal">
            <div class="mapa-wrapper">
                <img src="{% static 'css/logo_para_aquaconciencia.png' %}" alt="Mapa de Chiloé" class="imagen-mapa">

                <!-- Puntos clickeables -->
                <a href="{% url 'comuna' 'ancud' %}" class="punto-comuna" style="top:24.5%; left:44%;"></a>
                <a href="{% url 'comuna' 'quemchi' %}" class="punto-comuna" style="top:35.3%; left:68.1%;"></a>
                <a href="{% url 'comuna' 'dalcahue' %}" class="punto-comuna" style="top:51.5%; left:31.1%;"></a>
                <a href="{% url 'comuna' 'castro' %}" class="punto-comuna" style="top:61%; left:50.8%;"></a>
                <a href="{% url 'comuna' 'chonchi' %}" class="punto-comuna" style="top:75.6%; left:37.2%;"></a>
                <a href="{% url 'comuna' 'quellon' %}" class="punto-comuna" style="top:91%; left:52.1%;"></a>
            </div> 

        </div>

        <div class="sidebar">
            <div class="progreso">
                <h3>0%</h3>
                <p>Progreso</p>
                <!-- Vaso con agua animada -->
                <div class="glass">
                    <div class="water"></div>
                </div>
            </div>

            <div class="info">
                <div>
                    <h3>Información</h3>
                    <p>
                        Selecciona una comuna del mapa para visualizar
                        información relacionada con la contaminación
                        ambiental y la conservación de los ecosistemas
                        del Archipiélago de Chiloé.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>


