{% load static %}       <!-- codigo para poder usar imagenes -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>

<div class="contenedor">

    <header>
        <div class="logo">  
            <img src="{% static '/logo.png' %}" alt="Logo AquaConciencia">
            <img src="{% static 'css/image 1.png' %}" alt="Logo Alternativo AquaConciencia">
        </div>

        <nav class="menu">
            <a href="{% url 'panel' %}">Mapa</a>
            <a href="{% url 'quiz_inicio' %}">Quiz</a>
            <a href="#">Curiosidades</a>
            <a href="#">Ayuda</a>
        </nav>

        <div class="iconos">
            <a href="{% url 'panel' %}">
                <img src="{% static 'css/logo.casa.png' %}" alt="">
            </a>
            <a href="{% url 'perfil' %}">
                <img src="{% static 'css/logo.usuario.png' %}" alt="">
            </a>
        </div>
    </header>

    <div class="perfil-layout">

        <div class="perfil-principal">
            <h1>Usuario</h1>

            <div class="usuario-top">
                <div class="foto-usuario">
                    <img src="{% static 'css/logo.usuario.png' %}" alt="">
                </div>
                <div class="nombre-box">
                    {{ usuario.username }}
                </div>
            </div>

            <hr>

            <div class="datos">
                <h3>Información de la cuenta</h3>

                <p><strong>Correo electrónico</strong></p>
                <input type="text" value="{{ usuario.email }}" readonly>

             
                <div class="tiempo-activo">
                    <h3>Tiempo activo en la cuenta:</h3>
                    <span id="contador">00:00:00</span>
                </div>
            </div>

            <div class="acciones">
   
    <form method="post" action="{% url 'logout_usuario' %}">
        {% csrf_token %}
        <button type="submit" class="btn-verde">Cerrar sesión</button>
    </form>

<a href="{% url 'borrar_cuenta' %}" class="btn-verde">Borrar cuenta</a>
</form>
</div>

        </div>

        <div class="progreso-panel">
            <div class="nivel">
                <div class="medalla"></div>
                <h3>Etapa 1: Ayudante</h3>
            </div>

            <div class="barra">
                <div class="relleno"></div>
            </div>

            <div class="etapas">
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>
            </div>

            <p>1 → 3 → 5 → Max</p>
        </div>

    </div>

</div>

<!-- Script para el contador -->
<script>
    let segundos = 0;

    function actualizarContador() {
        segundos++;
        let horas = Math.floor(segundos / 3600);
        let minutos = Math.floor((segundos % 3600) / 60);
        let seg = segundos % 60;

        let formato =
            String(horas).padStart(2, '0') + ":" +
            String(minutos).padStart(2, '0') + ":" +
            String(seg).padStart(2, '0');

        document.getElementById("contador").textContent = formato;
    }

    setInterval(actualizarContador, 1000);
</script>

</body>
</html>
