<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <h1><span style="color: #005A8C;">Aqua</span><br><span style="color: #2E9E3E;">Conciencia</span></h1>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="../../static/css/creacion_cuenta.css">
    </head>

<body>
    <header>
        <div class="encabezado">
            <img src="logo_aqua.png" alt="Logo" class="logo">
        </div>
    </header>

    <section>
        <p>Correo Electronico</p>
        <input type="email">

        <p>Nombre de usuario</p>
        <input type="text">

        <p>Contraseña</p>
        <input type="password">
    </section>
</body>   

</html>