<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="{% static 'css/error_404.css' %}">
</head>

<body>
    <header>
        <div class="encabezado">
            <img src="{% static 'logo_aqua.png' %}" alt="Logo" class="logo-404">
        </div>
    </header>
    <h1 style="color: #000000">Error 404</h1>

    <section>
        <p>La pagina solicitada no fue encontrada o no se encuentra disponible</p>
    </section>

</body>

</html>