<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aqua Conciencia</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>

    <div class="contenedor">

        <div class="encabezado">
            <img src="../../static/css/logo.png" alt="Logo" class="logo">

            <div class="titulo">
                <h1>Aqua<br>Conciencia</h1>
            </div>
        </div>

        <section>
            <p>Nombre de usuario</p>
            <input type="text">

            <p>Contraseña</p>
            <input type="password">

            <button>Iniciar sesión</button>
            <button>Crear una cuenta</button>
        </section>

    </div>

</body>
</html>