<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8*">
    <title>Aqua Conciencia</title>
    <meta content="whidth=device-whdith, initial-scale=1.0" name = "viewport">
</head>


<body>
    <header style="background-color: #33B5D6;">
        <img id="logo" src="logo_aqua.png" width="500px" height="200px" />
        <h1>Aqua</h1>
        <h2>Conciencia</h2>
    </header>
</body>

<section>
    <p>Nombre de usuario</p>
    <input type="text">

    <p>Contraseña</p>
    <input type="password">

    <button>Iniciar sesion</button>
    <button>Crear una cuenta</button>
</section>

<html>