<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <h1><span style="color: #005A8C;">Aqua</span><br><span style="color: #66C24A;">Conciencia</span></h1>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="../../static/css/login.css">
    </head>

<body>
    <header>
        <div class="encabezado">
            <img src="logo_aqua.png" alt="Logo" class="logo">
        </div>
    </header>

    <section>
        <p>Nombre de usuario</p>
        <input type="text">
        <p>Contraseña</p>
        <input type="password">
        <button>Iniciar sesion</button>
        <button>Crear una cuenta</button>
        <color_rest href="#"></a>Restablecer contraseña</color_rest>
    </section>
    
</body>
</html>