<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <h1><span style="color: #005A8C;">Aqua</span><br><span style="color: #2E9E3E;">Conciencia</span></h1>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="../../static/css/nueva_contraseña.css">
    </head>

<body>
    <header>
        <div class="encabezado">
            <img src="logo_aqua.png" alt="Logo" class="logo">
        </div>
    </header>

    <section>
        <h2>Restablecer contraseña</h2>
        <p>Escriba la nueva contraseña y confirme para finalizar</p>

        <p>Nueva contraseña</p>
        <input type="text">

        <p>Reescribir contraseña</p>
        <input type="text">

        <button>Finalizar</button>
    </section>
</body>

</html>