{% load static %}       <!-- codigo para poder usar imagenes -->

<!DOCTYPE html>
<html lang="es">        <!-- Se define el 'idioma' de la web -->
<head>
    <meta charset="UTF-8">       <!-- Se introduce que la pagina sea capaz de soportar distintos tipos de caracteres (ñ,á,ü) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       <!-- Se introduce codigo para que la pagina sea capas de adaptarse a todo tipos de dispositivos (laptop, celulares, tablet, etc.) -->
    <title>AquaConciencia</title>

    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>
<body>

<div class="contenedor">

    <header>

        <div class="logo">
            <img src="{% static 'css/logo.png' %}" alt="Logo AquaConciencia">

            <div class="texto-logo">
                <h1>Aqua</h1>
                <h1>Conciencia</h1>
            </div>
        </div>

        <nav class="menu">
            <a href="{% url 'panel' %}">Mapa</a>
            <a href="#">Quiz</a>
            <a href="#">Curiosidades</a>
            <a href="#">Ayuda</a>
        </nav>

        <div class="iconos">

            <a href="{% url 'panel' %}">
                <img src="{% static 'css/logo.casa.png' %}" alt="Inicio">
            </a>

            <a href="{% url 'perfil' %}">
                <img src="{% static 'css/logo.usuario.png' %}" alt="Usuario">
            </a>

        </div>

    </header>

    <div class="dashboard">

        <!-- IZQUIERDA -->
        <div class="principal">

            <div class="mapa">

                <img
                    src="{% static 'css/mapa_chiloe_nuevo.jpeg' %}"
                    alt="Mapa de Chiloé"
                    class="imagen-mapa"
                >

            </div>

            <div class="accesos">

                <a href="{% url 'noticias' %}" class="acceso">
                    Noticias
                </a>

                <a href="{% url 'foro' %}" class="acceso">
                    Foro
                </a>

                <a href="#" class="acceso">
                    Educación Ambiental
                </a>

                <a href="#" class="acceso">
                    Actividades
                </a>

            </div>

        </div>

        <!-- SIDEBAR -->
        <div class="sidebar">

            <div class="progreso">
                <h3>0%</h3>
            </div>

            <div class="info">

                <div>

                    <h3>Información</h3>

                    <p>
                        Selecciona una comuna del mapa para visualizar
                        información relacionada con la contaminación
                        ambiental y la conservación de los ecosistemas
                        del Archipiélago de Chiloé.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>