{% load static %}       <!-- codigo para poder usar imagenes -->

<!DOCTYPE html>
<html lang="es">        <!-- Se define el 'idioma' de la web -->
<head>
    <meta charset="UTF-8">       <!-- Se introduce que la pagina sea capaz de soportar distintos tipos de caracteres (ñ,á,ü) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       <!-- Se introduce codigo para que la pagina sea capas de adaptarse a todo tipos de dispositivos (laptop, celulares, tablet, etc.) -->
    <title>Perfil</title>

    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">         <!-- Se establece el link de este archivo, al archivo de css llamdo 'perfil.css' para poder editar este archivo desde 'perfil.css' -->
</head>
<body>

<div class="contenedor">

    <header>

        <div class="logo">  

    <img src="{% static 'css/logo.png' %}" alt="">     

    <!--Se establece el nombre de la web (Aqua Concienca) que se mostrara y se crea el identifiacdor 'texto-logo' para poder editarlo desde el css -->
    <div class="texto-logo">
        <h1>Aqua</h1>
        <h1>Conciencia</h1>
    </div>

</div>

        <nav class="menu">
            <a href="{% url 'panel' %}">Mapa</a>        <!-- Si se selecciona el logo de 'menu' redirige al usuario a 'panel' -->
            <a href="{% url 'quiz_inicio' %}">Quiz</a>
            <a href="#">Curiosidades</a>
            <a href="#">Ayuda</a>
        </nav>

        <div class="iconos">

            <!-- Se establecen los logos de 'panel' y de 'usuario' -->
            <a href="{% url 'panel' %}">
                <img src="{% static 'css/logo.casa.png' %}" alt="">
            </a>

            <a href="{% url 'perfil' %}">
                <img src="{% static 'css/logo.usuario.png' %}" alt="">
            </a>

        </div>

    </header>

    <div class="perfil-layout">      <!-- Se establece el identificador 'perfil-layout' para poder editarlo desde el css -->


        <div class="perfil-principal">       <!-- Se establece el identificador 'perfil-principal' para poder editarlo desde el css -->


            <h1>Usuario</h1>

            <div class="usuario-top">        <!-- Se establece el identificador 'usuario-top' para poder editarlo desde el css -->


                <div class="foto-usuario">       <!-- Se establece el identificador 'foto-usuario' para poder editarlo desde el css -->

                    <img src="{% static 'css/logo.usuario.png' %}" alt="">
                </div>

                <div class="nombre-box">         <!-- Se establece el identificador 'nombre-box' para poder editarlo desde el css -->

                    Angel_example       <!-- Se establece texto de ejemplo que se motrara en la web -->
                </div>

            </div>

            <hr>

            <div class="datos">      <!-- Se establece el identificador 'datos' para poder editarlo desde el css -->

                <!-- Se establece texto que se motrara en la web -->
                <h3>Información de la cuenta</h3>

                <p><strong>Correo electrónico</strong></p>

                <input
                    type="text"
                    value="aquaconciencia@example.com"
                    readonly
                >

                <p class="tiempo">       <!-- Se establece el identificador 'tiempo' para poder editarlo desde el css -->

                    <!-- Se establece texto que se motrara en la web -->
                    Tiempo activo en la cuenta<br>    
                    XX : XX : XX
                </p>

            </div>

            <div class="acciones">       <!-- Se establece el identificador 'acciones' para poder editarlo desde el css -->


                <button class="btn-verde">       <!-- Se establece el identificador 'btn-verde' para poder editarlo desde el css -->
                    Cerrar sesión       <!-- Se establece texto del boton -->
                </button>

                <button class="btn-verde">       <!-- Se establece el identificador 'btn-verde' para poder editarlo desde el css -->
                   Borrar cuenta        <!-- Se establce texto del boton -->
                </button>

            </div>

        </div>

        <div class="progreso-panel">         <!-- Se establece el identificador 'progreso-panel' para poder editarlo desde el css -->


            <div class="nivel">      <!-- Se establece el identificador 'nivel' para poder editarlo desde el css -->


                <div class="medalla"></div>      <!-- Se establece el identificador 'medalla' para poder editarlo desde el css -->


                <h3>Etapa 1: Ayudante</h3>      <!-- Se establece texto que se motrara en la web -->

            </div>

            <div class="barra">      <!-- Se establece el identificador 'barra' para poder editarlo desde el css -->
                <div class="relleno"></div>      <!-- Se establece el identificador 'relleno' para poder editarlo desde el css -->

            </div>

            <div class="etapas">         <!-- Se establece el identificador 'etapas' para poder editarlo desde el css -->

                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>

            </div>

            <p>1 → 3 → 5 → Max</p>      <!-- Se establece texto que se motrara en la web -->

        </div>

    </div>

</div>

</body>
</html>
