{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña - Aqua Conciencia</title>

    <link rel="stylesheet" href="{% static 'css/creacion_cuenta.css' %}">
</head>

<body>

    <div class="registro-card">

        <img src="{% static 'logo.png' %}" alt="Logo AquaConciencia" class="logo">

        <h1 class="titulo">
            <span class="azul">Aqua</span><br>
            <span class="verde">Conciencia</span>
        </h1>

        <h2>Restablecer Contraseña</h2>

        <p style="text-align:center; margin-bottom:25px;">
            Ingresa el correo electrónico asociado 
        a tu cuenta. 
            Recibirás un enlace para crear una 
        nueva contraseña.
        </p>

        <form method="POST">
            {% csrf_token %}

            <label>Correo Electrónico</label>

            <input
                type="email"
                name="correo"
                placeholder="aquaconciencia@example.com"
                required
            >

            <button type="submit" class="btn-crear">
                Continuar
            </button>

        </form>

    </div>

</body>
</html>