body{
    background:#33d9ff !important;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#2fd8ff;
}

.registro-card{
    width: 720px;
    height: 520px;
    background: white;
    border-radius: 10px;
    padding: 100px 80px 40px;
    position: relative;

    border: 3px solid black;

    box-shadow: 0 0 15px rgba(0,0,0,.2);

    margin-top: 100px;
}

.logo{
    width:120px;
    position:absolute;
    top:-35px;
    left:30px;
}

.titulo{
    position:absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
}

.titulo img{
    width:220px;
    height:auto;
}

form{
    display:flex;
    flex-direction:column;
    width:100%;
}

label{
    margin-top:12px;
    margin-bottom:5px;
    font-weight:bold;
    display:block;
}

input{
    width:100%;
    padding:10px;
    border:2px solid #1aa7d8;
    border-radius:5px;
    font-size:16px;
}

.btn-crear{
    margin:30px auto 0;
    width:180px;
    height:50px;
    border:none;
   background:#1f9d1f;
    color:white;
    font-size:18px;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    display:block;
}

.btn-crear:hover{
    background:#2fc92f;
}