*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#39d5f3,#25b9d8);
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:700px;
    text-align:center;
}

/* LOGO Y TITULO */

.logo-area{
    position:relative;
    width:700px;
    height:130px;
    margin-bottom:30px;
}

.logo{
    width:100px;
    height:auto;
    position:absolute;
    left:-100px;
    top:50%;
    transform:translateY(-50%);
}

.logo-titulo{
    width:220px;
    height:auto;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

/* FORMULARIO */

.formulario{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.formulario label{
    width:600px;
    text-align:left;
    font-size:18px;
    margin-bottom:8px;
    color:#1d1d1d;
}

.formulario input{
    width:600px;
    padding:16px;
    font-size:18px;

    background:white;

    border:2px solid #5fa8ff;
    border-radius:12px;

    outline:none;
    margin-bottom:35px;
}

.formulario input:focus{
    border-color:#2b7cff;
    box-shadow:0 0 6px rgba(43,124,255,0.4);
}

/* BOTON INICIAR SESION */

.btn-login{
    width:240px;
    padding:16px;
    background:#9be000;
    color:white;

    border:2px solid black;
    border-radius:4px;

    font-size:20px;
    cursor:pointer;
    margin-bottom:20px;
}

/* BOTON CREAR CUENTA */

.btn-crear{
    width:240px;
    padding:16px;
    background:#1e90ff;
    color:white;

    border:2px solid black;
    border-radius:4px;

    font-size:20px;
    cursor:pointer;
}

/* ACCIONES */

.acciones{
    margin-top:10px;
}

.restablecer{
    display:block;
    margin-top:30px;
    text-decoration:none;
    color:#005eff;
    font-size:18px;
    font-weight:bold;
}

.restablecer:hover{
    text-decoration:underline;
}