* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Georgia, serif;

    background: radial-gradient(
        circle,
        #7fd4d6 0%,
        #5aaeb0 50%,
        #356f72 100%
    );

    padding:40px;
}

.registro-card {
    width: 700px;
    background: white;
    border-radius: 10px;
    padding: 50px 60px 50px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    margin-top: 40px;
    border: 2px solid black; 
}

.logo {
    width: 100px;
    position: absolute;
    top: 39px;
    left: 60px;
}

.titulo {
    text-align: center;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.azul { color: #0b5fa5; }
.verde { color: #3cab3c; }

h2 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    color: #111;
}

.descripcion {
    text-align: center;
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 12px;
    border: 2px solid #1aa7d8;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    width: 100%;
}

input::placeholder { color: #aaa; }

.btn-crear {
    margin: 30px auto 0;
    width: 180px;
    height: 50px;
    border: none;
    background: #39d739;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.btn-crear:hover { transform: scale(1.03); }
