*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}
body{
    
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Georgia, serif;

    background: radial-gradient(
        circle,
        #7fd4d6 0%,
        #5aaeb0 50%,
        #356f72 100%
    );

    padding:40px;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
    background: radial-gradient(
        circle,
        #7fd4d6 0%,
        #5aaeb0 50%,
        #356f72 100%
    );   /* degradado igual al body */
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
width:100px;
height:100px;
object-fit:contain;
}

.texto-logo{
color:#005db5;
font-weight:bold;
line-height:1;
}

.texto-logo h1{
font-size:32px;
}

.menu{
background:#005db5;
padding:15px 30px;
border-radius:12px;
display:flex;
gap:25px;
border:2px solid black;
}

.menu a{
background:#9be63b;
padding:10px 25px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
color:white;
border:1px solid black;
}

.iconos{
display:flex;
gap:15px;
}

.iconos img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    background: transparent;  /* sin círculo blanco */
    padding: 0;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconos img:hover{
    transform:scale(1.1);
}





.perfil-layout{
display:flex;
gap:25px;
}

.perfil-principal{
flex:3;
background:#0c78c9;
border-radius:15px;
padding:25px;
color:white;
border:2px solid black;
}

.perfil-principal h1{
text-align:center;
margin-bottom:20px;
}

.usuario-top{
display:flex;
align-items:center;
gap:30px;
margin-bottom:20px;
}

.foto-usuario img{
width:180px;
height:180px;
background:white;
border-radius:50%;
padding:15px;
border:2px solid black;
}

.nombre-box{
background:#39c7e8;
padding:25px;
border-radius:12px;
font-size:30px;
font-weight:bold;
border:2px solid black;
}

hr{
margin:20px 0;
border:1px solid white;
}

.datos h3{
margin-bottom:15px;
}

.datos input{
width:300px;
padding:10px;
border-radius:8px;
margin-top:5px;
border:2px solid black;
}

.tiempo{
margin-top:20px;
}

.acciones{
display:flex;
justify-content:space-between;
margin-top:50px;
}

.btn-verde{
background:#8adf43;
border:2px solid black;
padding:12px 25px;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

a.btn-verde {
    background: #8adf43;
    border: 2px solid black;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.acciones form {
    margin: 0;
    padding: 0;
}

.acciones .btn-verde {
    height: 47px;
    line-height: normal;
    font-size: 14px;
}

.acciones a.btn-verde {
    height: 47px;
    line-height: 23px;
    font-size: 14px;
}

.progreso-panel{
flex:1;
background:#0c78c9;
border-radius:15px;
padding:20px;
color:white;
border:2px solid black;
}

.nivel{
text-align:center;
}

.medalla{
width:160px;
height:160px;
background:white;
border-radius:50%;
margin:auto;
margin-bottom:20px;
border:2px solid black;
}

.barra{
height:15px;
background:#d7d7d7;
border-radius:20px;
margin:20px 0;
border:1px solid black;
}

.relleno{
height:100%;
width:40%;
background:#8adf43;
border-radius:20px;
}

.etapas{
display:flex;
justify-content:space-between;
margin-top:30px;
}

.circulo{
width:50px;
height:50px;
background:white;
border-radius:50%;
border:2px solid black;
}

.progreso-panel p{
text-align:center;
margin-top:20px;
font-size:18px;
}

@media(max-width:1000px){

.perfil-layout{
flex-direction:column;
}

.usuario-top{
flex-direction:column;
}

.acciones{
flex-direction:column;
gap:15px;
}

}