{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AquaConciencia</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class="logo">
            <h2>AquaConciencia</h2>
        </div>

        <nav>
            <a href="/">Inicio</a>
            <a href="/retos/">Retos</a>
            <a href="/noticias/">Noticias</a>
            <a href="/perfil/">Perfil</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>