*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#34c0df;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    background:white;
    padding:40px;
    border-radius:20px;
    width:450px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.logo-area{
    text-align:center;
    margin-bottom:30px;
}

.logo{
    width:120px;
    margin-bottom:15px;
}

.titulo{
    font-size:40px;
}

.azul{
    color:#0b5f8d;
}

.verde{
    color:#7ed957;
}

.formulario{
    display:flex;
    flex-direction:column;
}

.formulario label{
    margin-top:10px;
    margin-bottom:5px;
    font-weight:bold;
}

.formulario input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:10px;
}

.btn-login{
    margin-top:10px;
    background:#0b5f8d;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

.btn-login:hover{
    background:#08496d;
}

.acciones{
    margin-top:20px;
    text-align:center;
}

.btn-crear{
    background:#7ed957;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:10px;
}

.restablecer{
    display:block;
    margin-top:10px;
    color:#0b5f8d;
    text-decoration:none;
}